@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    min-height: 700px;
    position: relative;
    background-color: #F5F9FC;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 25px;
    color: #2825b6;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 17px;
    font-weight: 600;
    padding: 20px;
    display: block;
    color: #656875;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: #17171d;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 100px;
    display: flex;
    padding: 50px;
    background-color: aliceblue;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 50px;
    line-height: 70px;
    color: #17171d;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 16px;
    color: #656875;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #2825b6;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    text-transform: capitalize;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
    background-color: #1f1ea0;
}

.header-img {
    width: 50%;
    text-align: right;
    transition: transform 3s ease-in-out;
}

.header-img:hover {
    transform: scale(1.05) rotate(3deg);
}

.header-img img {
    width: 200px;
    border-radius: 25px;
}
.general {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.general-1 {
    width: 70%;
    display: flex;
    gap: 20px;
}

.general-cad {
    padding: 40px;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
   
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.general-cad:hover {
    transform: scale(1.05);
}

.general-cad img {
    width: 50px;
    margin-bottom: 25px;
}

.general-cad h3 {
    font-size: 18px;
    color: #12114d;
    margin-bottom: 15px;
}

.general-cad p {
    font-size: 16px;
    color: #656875;
}

.general-2 {
    width: 30%;
    margin: 0 35px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    color: #12114d;
    margin-bottom: 20px;
}

.general-2 p {
    font-size: 16px;
    color: #656875;
    margin-bottom: 35px;
}

.btn-2 {
    display: inline-block;
    padding: 13px 25px;
    color: #12114d;
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.btn-2:hover {
    background-color: #2825b6;
    color: white;
}

/* Secciones de imágenes de fondo */
.bg-1 {
    width: 33%;
    height: 400px;
    background-image: url('img/arduino.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-2 {
    width: 33%;
    height: 400px;
    background-image: url('img/bomba.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-3 {
    width: 33%;
    height: 400px;
    background-image: url('img/sensori.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information {
    padding: 100px 0;
    background-color: #f5f9fc;
    text-align: center;
}

.information-content {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.information-1 {
    margin: 0 25px;
    text-align: center;
}

.information-1 h3 {
    text-transform: capitalize;
    font-size: 25px;
    color: #12114d;
    margin-bottom: 15px;
}

.information-1 p {
    font-size: 16px;
    color: #656875;
    margin-bottom: 35px;
}

.footer {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-txt {
    padding-right: 500px;
}

.footer-txt p {
    font-size: 16px;
    color: #656875;
    margin-top: 25px;
}

.footer-social {
    display: flex;
}

.footer-social img {
    margin: 0 15px;
    width: 30px;
    height: 30px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 991px) {

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu label {
        display: block;
        cursor: pointer;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #f0efef;
        display: none;
        text-align: center;
    }

    #menu:checked ~ .navbar {
        display: block;
    }

    .menu .navbar ul {
        padding: 0;
    }

    .menu .navbar ul li {
        width: 100%;
        display: block;
    }

    .menu .navbar ul li a {
        display: block;
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    
    .header-txt h1 {
        font-size: 28px; 
        line-height: 1.2;
    }

    .header-txt p {
        font-size: 16px;
        color: #656875;
        margin-bottom: 25px;
        text-align: center;
    }

    /* Ajustes del botón "Mas.." */
    .btn-1 {
        display: block;
        padding: 12px 20px;
        background-color: #2825b6;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
    }

    /* Alinear imagen de forma responsiva */
    .header-img img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    /* Asegurar que los cuadros de información se alineen bien en móviles */
    .general-cad {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* Ajuste del footer */
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-txt {
        margin-bottom: 20px;
    }
}

